# .gitignore
# first: ignore everything
*
# Include the .gitignore file

!.gitignore

!/SwiftListDeleteExample/
!/SwiftListDeleteExample/**

!/SwiftNavigationFormTest/
!/SwiftNavigationFormTest/**

!/SwiftUICommandsTest/
!/SwiftUICommandsTest/**

!/Landmarks Tutorial/
!/Landmarks Tutorial/**

!/SwiftPassObjectToSubView/
!/SwiftPassObjectToSubView/**

!/SwiftPeopleListWithDeleteAndModal/
!/SwiftPeopleListWithDeleteAndModal/**

!/SwiftPassFunctionRequestToParent/
!/SwiftPassFunctionRequestToParent/**

!/SwiftPassFunctionWithParametersFromChildToParent/
!/SwiftPassFunctionWithParametersFromChildToParent/**

!/SwiftCallParentFunctionFromGrandchild/
!/SwiftCallParentFunctionFromGrandchild/**

!/SwiftUIRealmIceCreamTest/
!/SwiftUIRealmIceCreamTest/**

!/SwiftUISheetDelegateExample/
!/SwiftUISheetDelegateExample/**

